<h1>New Products</h1>

<%= form_with model: @product do |f| %>
  <%= f.text_field :name %>
  <%= f.text_area :description %>
  <%= f.number_field :price %>
  <!--@categoriesは、Category.allの結果を含む配列(全てのカテゴリーのデータ)を返します。
  collection_selectと組み合わせることでオブジェクトのnameをビューで表示し、選択時にはパラメータとしてidを渡-->
  <%= f.collection_select(:category_id, @categories, :id, :name) %>
  <%= f.submit "Create" %>
<% end %>

<%= link_to "Back", products_path %>