<!DOCTYPE html>
<html>
  <head>
    <title><%= ENV["APP_NAME"] %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/1675fdf34b.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <!--renderメソッドでパーシャルテンプレートファイルを読み込ませるときは、
    ファイル名の先頭にアンダースコアはつけない-->
    <!--app/views/layouts/_header.html.erbを読み込む-->
    <!--(headerの機能は上記.erbに記述されている)-->
    <%= render partial: 'layouts/header' %>
    
    <main class="py-4 mb-5">
      <% if notice %><p class="alert alert-warning"><%= notice %></div><% end %>
      <% if alert %><p class="alert alert-danger"><%= alert %></p><% end %>
    <!--app/views/users/sessions/new.html.erbといったファイルは、
    application.html.erb内の以下の部分に差し込まれる-->
    <%= yield %>
    </main>
    <%= render partial: 'layouts/footer' %>
  </body>
</html>
